@page
@model ForgotPasswordConfirmation
		
	@{
		ViewData["Title"] = "Potwierdzenie wysłania maila o zresetowanie hasła";
	}

	<h1>@ViewData["Title"]</h1>
	<p>
		Sprawdź swojego maila, aby zresetować hasło.
	</p>

