@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Witamy na naszej aplikacji do prostego zarządzania magazynem i zamówieniami.</h4>
</div>

<div class="container p-3 mt-4">
    <div class="text-body test-s">
        <h6>
            Co potrafi nasza aplikacja? Nasza aplikacja w prosty sposób pozwoli Ci zarządzać magazynem i
            jego stanami oraz kontrolować wychodzące zamówienia. Zapanuj nad chaosem w swojej firmie i zarejestruj się już teraz. Nasza aplikacja oferuje:
        </h6>
        <ul>
            <li>Zarządzanie zamówieniami w trakcie realizacji</li>
            <li>Kontrolowanie stanów magazynowych</li>
            <li>Szybką rejestrację</li>
            <li>Pełne bezpieczeństwo</li>
            <li>Prosty i przejrzysty interface</li>
        </ul>
        <h4>Dołącz do tysięcy zadowolonych klientów i zarejestruj się teraz:</h4>
    </div>

    <div class="text-center mx-4">
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><button class="btn btn-danger navbar-btn">Zarejestruj się teraz</button></a>
    </div>

</div>
