<div class="alert alert-success mt-5 mb-5" role="alert">
    Dodano nowe zamówienie!
</div>

<div class="col">
    <a asp-controller="Orders" asp-action="Index" class="btn btn-primary btn-lg btn-block mt-4">Dodaj kolejne zamówienie</a>
</div>
<div class="col">
    <a asp-controller="Orders" asp-action="List" class="btn btn-primary btn-lg btn-block mt-4">Zobacz listę zamówień</a>
</div>
<div class="col">
    <a asp-controller="Orders" asp-action="Add" class="btn btn-primary btn-lg btn-block mt-4">Zobacz stan magazynów</a>
</div>