<div class="col">
    <a asp-controller="Orders" asp-action="Add" class="btn btn-primary btn-lg btn-block mt-4">Dodaj nowe zamówienie</a>
</div>
<div class="col">
    <a asp-controller="Orders" asp-action="List" class="btn btn-primary btn-lg btn-block mt-4">Zobacz listę zamówień</a>
</div>
<div class="col">
    <a asp-controller="Orders" asp-action="Add" class="btn btn-primary btn-lg btn-block mt-4">Zobacz stan magazynów</a>
</div>